* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  th,
  td,
  p,
  input {
    font: 14px Verdana;
  }
  table,
  th,
  td {
    border: solid 1px #ddd;
    border-collapse: collapse;
    padding: 2px 3px;
    width: 53px;
    margin-top: 1rem;
    margin-left: 2rem;
  }
  td {
    padding: 1rem;
  }
  
  th {
    font-weight: bold;
  }
  .app {
    display: flex;
    margin: auto;
  }
  .border {
    border: none;
    text-transform: uppercase;
  }
 
